Repository pairingg/client, pull requests merged in 2025-02, with the labels that each got.

#81 feat: #80 스플래시 화면 및 메인 온보딩 화면 구현
  public/images/main_chat_logo.png
  public/images/main_faceAuth_logo.png
  public/images/main_match_logo.png
  public/images/pairing_logo.png
  src/app/page.tsx
  src/components/MainOnboarding/index.tsx
  src/components/Splash/index.tsx
Labels: fix, feature

#83 feat: #82 API 명세값을 맞춘다.
  public/images/main_chat_logo 2.png
  public/images/main_faceAuth_logo 2.png
  public/images/main_match_logo 2.png
  src/app/chat/page.tsx
  src/app/community/create/page.tsx
  src/app/community/page.tsx
  src/app/notifications/page.tsx
  src/app/pAIring/page.tsx
  src/components/BottomNavBar/index.tsx
  src/components/KeywordRecommendation/KeywordList.tsx
  src/components/MainOnboarding/index 2.tsx
  src/components/NotificationCard/index.tsx
  src/components/PostCard/page.tsx
  src/components/ProfileCard/index.tsx
  src/components/chat/ChatBubble/index.tsx
  src/components/chat/ChatListItem/index.tsx
  src/components/common/ProfileImage/index.tsx
  src/components/community/MyPostsTab/index.tsx
  src/components/community/PostsListTab/index.tsx
  src/components/header/ChatRoomHeader/index.tsx
  src/components/header/ProfileCardHeader/index.tsx
  src/components/modal/BottomSheetModal/index.tsx
  src/components/mypage/DefaultmyPage.tsx
  src/components/profiles/UserProfile/index.tsx
  src/types/community.ts
Labels: fix, feature

#87 feat: #84 페이지 UI를 추가 수정한다.
  src/app/chat/[id]/page.tsx
  src/app/notifications/page.tsx
  src/app/pAIring/page.tsx
  src/app/page.tsx
  src/app/user-profileCard/page.tsx
  src/assets/icons/profile_next_gray.svg
  src/assets/icons/profile_prev_gray.svg
  src/components/MainOnboarding/index.tsx
  src/components/NotificationCard/index.tsx
  src/components/PostCard/index.tsx
  src/components/ProfileCard/index.tsx
  src/components/ProfileCardInfoContainer/index.tsx
  src/components/chat/ChatInput/index.tsx
  src/components/community/MyPostsTab/index.tsx
  src/components/community/PostsListTab/index.tsx
  src/components/header/ChatRoomHeader/index.tsx
  src/components/header/ProfileCardHeader/index.tsx
  src/components/mypage/DefaultmyPage.tsx
  src/components/mypage/index.tsx
  src/components/onboarding/steps/OnboardingComplete.tsx
  src/components/ui/Carousel/index.tsx
  src/constants/wellness.ts
  src/types/ideal/ideal.ts
  src/types/member/mypage.ts
  src/types/notification.ts
  src/types/onboarding.ts
Labels: fix, feature, chore

#89 feat: 카메라 기능 구현한다.
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/assets/icons/calendar.svg
  src/components/onboarding/steps/FaceAuth/FaceAuthImage.tsx
  src/components/onboarding/steps/FaceAuth/components/ActionButton.tsx
  src/components/onboarding/steps/FaceAuth/components/CameraView.tsx
  src/components/onboarding/steps/idealType/Age.tsx
  src/components/onboarding/steps/profile/BirthDay.tsx
  src/hooks/useCamera.ts
  src/hooks/useIsMobile.ts
Labels: feature

#95 feat: 로그인 기능을 구현한다.
  package.json
  pnpm-lock.yaml
  public/images/login_pairing_logo.png
  src/api/httpClient.ts
  src/api/index.ts
  src/app/globals.css
  src/app/login/auth-loading/page.tsx
  src/app/login/page.tsx
  src/assets/icons/kakao_logo.svg
  src/assets/icons/naver_logo.svg
  src/components/login/OAuthButton/index.tsx
  src/components/login/OAuthButtons/index.tsx
  src/components/login/index.tsx
  src/hooks/apis/login/usePostLogin.ts
  src/middleware.ts
  src/utils/auth.ts
Labels: feature
